@charset "UTF-8";
@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/ubuntu-r-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0;
  padding: 0;
  font-family: "ubunturegular"; }

.tophead {
  margin-left: 15px; }

.caption_picture {
  width: 40px;
  margin-top: 15px; }

.caption {
  margin-top: -50px;
  margin-left: 45px;
  margin-bottom: 15px; }

.caption_page_build {
  color: #434343;
  font-size: 30px; }

.caption_page_theme {
  color: #838383; }

.main_menu {
  background-color: #2a2d41;
  color: white;
  width: 100%;
  height: 50px; }

.menu li {
  display: inline;
  list-style: none; }

.menu li a {
  display: inline-block;
  padding: 18px;
  width: 120px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  color: white; }

.menu li a:visited {
  color: white; }

.menu li a:active {
  color: yellow; }

.menu li a:hover {
  background-color: #248cec;
  padding: 18px;
    color: rgb(244,182,13);  }

.menu li span:last-child:hover {
  background-color: #2a2d41; }

.search {
  position: relative;
  top: -40px;
  float: right; }

input[type="text"] {
  border: 1px solid black;
  border-radius: 8px;
  background-color: rgba(53, 56, 60, 0.6);
  height: 25px; }

input[type="text"]:hover {
  box-shadow: 1px 0px 7px 3px #1841a8; }

.loupe {
  margin-left: -20px; }

.middle {
  height: 750px; }

.picture {
  width: 100%;
  height: 500px;
  overflow: hidden; }

.loupe {
  margin-left: -20px; }

.link_main_site {
  width: 240px;
  position: relative;
  top: -255px;
  left: 50px; }

.link_marg {
  margin-left: 18px;
  margin-top: -200px; }

.link_main {
  text-decoration: none; }

.link_main:hover {
  opacity: 0.3; }

.link_main_yellow {
  color: #f4b62c;
  font-size: 55px; }

.link_main_black {
  font-size: 55px;
  color: white; }

.sidebar {
  height: 550px;
  width: 100%; }

.sidebar_box {
  width: 1075px;
  margin: 0 auto; }

.sprite {
  height: 300px;
  width: 1075px;
  overflow: hidden;
  margin: 0 auto; }

.sprite_picture {
  margin-bottom: 15px; }

.number {
  color: #e9e9ea;
  font-size: 75px;
  font-weight: bold; }

.first_topic, .second_topic, .third_topic {
  width: 350px; }

.first_topic {
  position: relative;
  top: 50px;
  margin-left: 5px; }

.second_topic {
  position: relative;
  top: -186px;
  left: 365px; }

.third_topic {
  position: relative;
  top: -417px;
  left: 720px; }

.topic {
  font-size: 22px;
  margin-bottom: 10px; }

.content {
  font-size: 12px;
  margin-bottom: 10px;
  color: #8a8a8a;
  line-height: 1.4; }

.topic_link {
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  float: right; }

.topic_link:hover {
  color: #248cec; }

aside {
  width: 220px;
  position: relative;
  top: -70px;
  left: 115px; }

.link_services {
  background: #2a2d41;
  height: 300px; }

.link_services_rubric {
  font-size: 25px;
  color: white;
  padding: 25px; }

.content_box {
  width: 1075px;
  margin: 0 auto; }

.link_services_provide {
  display: inline-block;
  padding-left: 90px; }

.link_provide_text {
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 12px;
  margin-left: 25px; }

.link_provide_text:hover {
  color: #f4b62c; }

.latest_news {
  margin-bottom: 45px; }

.box {
  width: 365px;
  position: relative;
  left: 180px;
  height: 120px;
  margin-top: -135px; }

.link_latest {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: black; }

.link_latest:hover {
  color: #248cec; }

.link_provide_img {
  width: 150px;
  height: 150px; }

.link_provide_img:hover {
  opacity: 0.3; }

.comments {
  font-size: 11px;
  color: #8a8a8a;
  margin-top: 5px; }

.cmsmasters {
  text-decoration: none;
  color: #248cec; }

.cmsmasters:hover {
  color: black;
  font-weight: bold; }

.cms {
  text-decoration: none;
  color: black; }

.cms:hover {
  color: #248cec;
  font-weight: bold; }

.com_num {
  color: #248cec; }

.sponsors_img {
  width: 80px;
  height: 50px;
  margin-left: 70px; }

h4 {
  font-family: CENTURY GOTHIC; }

.banners_place {
  width: 500px;
  margin: 0 auto;
  position: relative;
  left: 300px;
  top: -385px; }

.sponsors_picture {
  position: relative;
  top: 25px;
  width: 1075px;
  margin: 0 auto; }

.ff {
  width: 1075px;
  margin: 0 auto; }

.foot_box {
  margin: 0 auto;
  width: 100%;
  height: 260px;
  overflow: hidden;
  background-color: #2a2d41; }

.heading-primary {
  font-size: 25px; }

.sponsors {
  height: 100px; }

.sponsors_link:hover {
  opacity: 0.3; }

h3 {
  color: white;
  margin-left: 40px; }

.footer_menu_li {
  border-bottom: 1px solid rgba(94, 96, 100, 0.5);
  margin-bottom: 10px;
  list-style: none;
  padding-bottom: 10px; }

.footer_menu_li a {
  text-decoration: none;
  color: #5e6064;
  font-size: 13px; }

.footer_menu_li a:hover {
  color: #248cec; }

.footer_menu {
  margin: 0 auto;
  width: 1075px; }

.footer_menu_container {
  width: 200px;
  padding: 15px; }

.footer_menu_container_second {
  width: 200px;
  margin-left: 20px; }

.footer_menu_container_third, .footer_menu_container_fourth {
  width: 200px;
  margin-left: 60px; }

.menu_second_third_fourth {
  display: -webkit-inline-box;
  position: relative;
  top: -234px;
  left: 260px; }

.contacts {
  height: 50px;
  background-color: #35383c; }

.footer_span {
  color: #5e6064;
  font-size: 13px;
  display: grid;
  position: relative;
  top: 10px;
  margin-left: 20px; }

.footer_geo {
  width: 15px;
  position: relative;
  top: 4px; }

.footer_span_right {
  color: #5e6064;
  font-size: 13px;
  float: right;
  margin-top: 15px; }

.footer_letter {
  width: 15px; }

.footer_phone {
  width: 10px;
  position: relative;
  top: 4px; }

.accordion dl,
.accordion-list {
  border: 1px solid #ddd; }

.accordion dl,
.accordion-list:after {
  content: "";
  display: block;
  height: 1em;
  width: 450px;
  background-color: green; }

.accordion dd,
.accordion__panel {
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #8a8a8a; }

.accordion {
  position: #position;
  background-color: #eee; }

.accordionTitle,
.accordion__Heading {
  background-color: #38cc70;
  text-align: center;
  font-weight: bold;
  padding: 15px;
  display: block;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.5s ease-in-out;
  border: 1px solid grey; }

.accordionTitle,
.accordion__Heading:before {
  content: "+";
  font-size: 12px;
  line-height: 0.5;
  transition: transform 0.3s ease-in-out; }

.accordionTitle,
.accordion__Heading:hover {
  background-color: #DCDCDC;
  color: black; }

.accordionTitleActive,
.accordionTitle.is-expanded {
  background-color: #f4b60d;
  color: white; }

.accordionTitleActive,
.accordionTitle.is-expanded:before {
  transform: rotate(-225deg); }

.accordionItem {
  height: auto;
  overflow: hidden;
  max-height: 130px;
  transition: max-height 1s; }

.accordionItem.is-collapsed {
  max-height: 0;
  margin-bottom: 5px; }

.no-js .accordionItem.is-collapsed {
  max-height: 100%; }

.animateIn {
  animation: accordionIn 0.45s normal ease-in-out both 1; }

.animateOut {
  animation: accordionOut 0.45s alternate ease-in-out both 1; }

@keyframes accordionIn {
  0% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0; }
  100% {
    opacity: 1;
    transform: scale(1); } }
@keyframes accordionOut {
  0% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg); } }
#slider-wrap {
  /* ╨₧╨▒╨╛╨╗╨╛╤ç╨║╨░ ╤ü╨╗╨░╨╣╨┤╨╡╤Ç╨░ ╨╕ ╨║╨╜╨╛╨┐╨╛╨║ */
  width: 100%; }

.img {
  width: 100%;
  height: 720px; }

#slider {
  /* ╨₧╨▒╨╛╨╗╨╛╤ç╨║╨░ ╤ü╨╗╨░╨╣╨┤╨╡╤Ç╨░ */
      width: 95%;
    height: 700px;
    overflow: hidden;
    border: #eee solid 10px;
    position: relative;
    margin: 0 auto; }

.slide {
  /* ╨í╨╗╨░╨╣╨┤ */
  width: 100%;
  height: 100%; }

.sli-links {
  /* ╨Ü╨╜╨╛╨┐╨║╨╕ ╤ü╨╝╨╡╨╜╤ï ╤ü╨╗╨░╨╣╨┤╨╛╨▓ */
  text-align: center;
  position: relative;
  top: -40px; }

.sli-links .control-slide {
  margin: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../img/radioBg.png) center bottom no-repeat; }

.sli-links .control-slide:hover {
  cursor: pointer;
  background-position: center center; }

.sli-links .control-slide.active {
  background-position: center top; }

#prewbutton, #nextbutton {
  /* ╨í╤ü╤ï╨╗╨║╨░ "╨í╨╗╨╡╨┤╤â╤Ä╤ë╨╕╨╣" ╨╕ "╨ƒ╨╡╨┤╤ï╨┤╤â╤ë╨╕╨╣" */
  display: block;
  width: 15px;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
  text-indent: -999px;
  background: url(../img/arrowBg.png) left center no-repeat;
  opacity: 0.8;
  z-index: 3;
  outline: none !important; }

#prewbutton {
  left: 10px; }

#nextbutton {
  right: 10px;
  background: url(../img/arrowBg.png) right center no-repeat; }

#prewbutton:hover, #nextbutton:hover {
  opacity: 1; }

/*# sourceMappingURL=main.css.map */
