$font-stack:             'ubunturegular';
$margin:                  15px;
$width:                   40px;
$margin-top:              15px;
$margin-left:             45px;
$margin-bottom:           15px;
$color:                   rgb(67,67,67);
$font-size:               30px;
$minusmargin-top:        -50px;
$color1:                  rgb(131,131,131);
$background-color:        rgb(42,45,65);
$white:                   white;
$maxwidth:                100%;
$height:                  50px;
$display:                 inline;
$list-style:              none;
$display-inline:          inline-block;
$padding:                 18px;
$width-120:               120px;
$text-align:              center;
$text-decoration:         none;
$font-size12:             12px;
$yellow:                  yellow;
$background-color2:       rgb(36,140,236);
$position:                relative;
$top:                    -40px;
$float:                   right;
$border:                  1px solid black;
$border-radius:           2px;
$back-opacity:            rgba(53,56,60,0.6);
$height25:                25px;
$box-shadow:              1px 0px 7px 3px rgba(24,65,168,1);
$negative-margin-left:   -20px;
$middle-height:           550px;
$overflow:                hidden;
$width240:                240px;
$top-minus:              -223px;
 $left:                   50px;
$margin-top-minus:       -200px;
$opacity:                 0.3;
$ft:                      55px;
$pxl:                     600px;
$cursor:                  pointer;
$value:                   16px;
$value10px:               10px;
$absolute:                absolute;
$value0:                  0;
$value1:                  1px;
$rgba:                    rgba(0, 0, 0, 0.2);
$inset:                   inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
$border-radius:           8px;
$black:                   black;
$line-height:             13px;
$sprite:                  300px;
$main:                    125px;
$rgb:                     rgb(233,233,234);
$size:                    75px;
$bold:                    bold;
$topic:                   350px;
$value5px:                5px;
$sec:                    -186px;
$ond:                     365px;
$th:                      417px;
$ird:                     720px;
$value22px:               22px;
$stay:                    1.4;
$right:                   right;
$aside:                   220px;
$topminus70:             -70px;
$v115:                    115px;
$v90:                     90px;
$rgb138:                  rgb(138,138,138);
$square:                  150px;
$px:                      11px;
$font-stack2:             CENTURY GOTHIC;
$menu:                    200px;
$grey:                    rgb(94,96,100);
$margleft:                20px;
$value4px:                4px;
$importantWidth:          1075px;
$importantMargin:         0 auto;





