@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'ubunturegular';
}

.tophead {
    margin-left: 15px;
}

.caption_picture {
    width: 40px;
    margin-top: 15px;
}

.caption {
    margin-top: -50px;
    margin-left: 45px;
    margin-bottom: 15px;
}

.caption_page_build {
    color: rgb(67,67,67);
    font-size: 30px;
}

.caption_page_theme {
    color: rgb(131,131,131);
}

.main_menu {
    background-color: rgb(42,45,65);
    color: white;
    width: 100%;
    height: 50px;
}

.menu li {
    display: inline;
    list-style: none;
}

    .menu li a {
        display: inline-block;
        padding: 18px;
        width: 120px;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
    }

        .menu li a:visited {
            color: white;
        }

        .menu li a:active {
            color: yellow;
        }

        .menu li a:hover {
            background-color: rgb(36,140,236);
            padding: 18px;
        }

    .menu li span:last-child:hover {
        background-color: rgb(42,45,65);
    }

.search {
    position: relative;
    top: -40px;
    float: right;
}

input[type="text"] {
    border: 1px solid black;
    border-radius: 2px;
    background-color: rgba(53,56,60,0.6);
    height: 25px;
}

    input[type="text"]:hover {
        -webkit-box-shadow: 1px 0px 7px 3px rgba(24,65,168,1);
        -moz-box-shadow: 1px 0px 7px 3px rgba(24,65,168,1);
        box-shadow: 1px 0px 7px 3px rgba(24,65,168,1);
    }

.loupe {
    margin-left: -20px;
}

.middle {
    height: 750px;
}

.picture {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.link_main_site {
    width: 240px;
    position: relative;
    top: -255px;
    left: 50px;
}

.link_marg {
    margin-left: 20px;
    margin-top: -200px;
}

.link_main {
    text-decoration: none;
}

    .link_main:hover {
        opacity: 0.3;
    }

.link_main_yellow {
    color: rgb(244,182,44);
    font-size: 55px;
}

.link_main_black {
    font-size: 55px;
    color: white;
}

/*.checkbox {
    position: relative;
    left: 600px;
}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 15px;
    margin-right: 10px;
}

input[type=checkbox] {
    display: none;
}

label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.checkbox label:before {
    border-radius: 8px;
}

.checkbox input[type=checkbox]:checked + label:before {
    content: "\2022";
    color: black;
    font-size: 40px;
    text-align: center;
    line-height: 13px;
}*/

.sprite {
    height: 300px;
    width: 1075px;
    overflow: hidden;
        margin: 0 auto;
}

.sprite_picture {
    margin-bottom: 15px;
}

.number {
    color: rgb(233,233,234);
    font-size: 75px;
    font-weight: bold;
}

.first_topic, .second_topic, .third_topic {
    width: 350px;
}

.first_topic {
    position: relative;
    top: 50px;
    margin-left: 5px;
}

.second_topic {
    position: relative;
    top: -186px;
    left: 365px;
}

.third_topic {
    position: relative;
    top: -417px;
    left: 720px;
}

.topic {
    font-size: 22px;
    margin-bottom: 10px;
}

.content {
    font-size: 12px;
    margin-bottom: 10px;
    color: rgb(138,138,138);
    line-height: 1.4;
}

.topic_link {
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    float: right;
}

    .topic_link:hover {
        color: rgb(36,140,236);
    }

aside {
    width: 220px;
    position: relative;
    top: -70px;
    left: 115px;
}

.link_services {
    background: rgb(42, 45, 50);
    height: 300px;
}

.link_services_rubric {
    font-size: 25px;
    color: white;
    padding: 25px;
}

.content_box {
    width: 1075px;
    margin: 0 auto;
}

.link_services_provide {
    display: inline-block;
    padding-left: 90px;
}

.link_provide_text {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 12px;
    margin-left: 25px;
}

    .link_provide_text:hover {
        color: rgb(244,182,44);
    }

.sidebar {
        height: 550px;
    width: 100%;
}
.sidebar_box{
      margin: 0 auto;
    width: 1075px;
}
.latest_news {
    margin-bottom: 45px;
}

.box {
    width: 365px;
    position: relative;
    left: 180px;
    height: 120px;
    margin-top: -135px;
}

.link_latest {
    text-decoration: none;
    font-size: 16px;
    font-weight: 900;
    color: black;
}

    .link_latest:hover {
        color: rgb(36,140,236);
    }

.link_provide_img {
    width: 150px;
    height: 150px;
}

    .link_provide_img:hover {
        opacity: 0.3;
    }

.comments {
    font-size: 11px;
    color: rgb(138,138,138);
    margin-top: 5px;
}

.cmsmasters {
    text-decoration: none;
    color: rgb(36,140,236);
}

    .cmsmasters:hover {
        color: black;
        font-weight: 900;
    }

.cms {
    text-decoration: none;
    color: black;
}

    .cms:hover {
        color: rgb(36,140,236);
        font-weight: 900;
    }

.com_num {
    color: rgb(36,140,236);
}

.sponsors_img {
    width: 80px;
    height: 50px;
    margin-left: 70px;
}

h4 {
    font-family: CENTURY GOTHIC;
}

.banners_place {
      width: 500px;
    margin: 0 auto;
    position: relative;
    left: 300px;
    top: -385px;
}

.heading-primary {
    font-size: 25px;
}

.sponsors {
    height: 100px;
}

.sponsors_link:hover {
    opacity: 0.3;
}

h3 {
    color: white;
    margin-left: 40px;
}

.footer_menu_li {
    border-bottom: 1px solid rgba(94,96,100, 0.5);
    margin-bottom: 10px;
    list-style: none;
    padding-bottom: 10px;
}

    .footer_menu_li a {
        text-decoration: none;
        color: rgb(94,96,100);
        font-size: 13px;
    }

        .footer_menu_li a:hover {
            color: rgb(36,140,236);
        }

.footer_menu {
        margin: 0 auto;
    width: 1075px;
}

.footer_menu_container {
    width: 200px;
    padding: 15px;
}

.footer_menu_container_second {
    width: 200px;
    margin-left: 20px;
}

.footer_menu_container_third {
    width: 200px;
    margin-left: 60px;
}

.footer_menu_container_fourth {
    width: 200px;
    margin-left: 60px;
}

.menu_second_third_fourth {
    display: -webkit-inline-box;
    position: relative;
    top: -234px;
    left: 260px;
}

.contacts {
    height: 50px;
    background-color: rgb(53,56,60);
}

.footer_span {
    color: rgb(94,96,100);
    font-size: 13px;
    display: grid;
    position: relative;
    top: 10px;
    margin-left: 20px;
}

.footer_geo {
    width: 15px;
    position: relative;
    top: 4px;
}

.footer_span_right {
    color: rgb(94,96,100);
    font-size: 13px;
    float: right;
    margin-top: 15px;
}

.footer_letter {
    width: 15px;
}

.footer_phone {
    width: 10px;
    position: relative;
    top: 4px;
}

.sponsors_picture {
    position: relative;
    top: 25px;
        width: 1075px;
    margin: 0 auto;
}

.ff {
    width: 1075px;
    margin: 0 auto;
}
.foot_box{
margin: 0 auto;
    width: 100%;
    height: 260px;
    overflow: hidden;
    background-color: rgb(42,45,65);
}
